apps/web/public/workflows/n8n-sales-lead-generation-lead-qualification-216460319865.yml
app:
  description: "Spine-authored workflow generated from a natural-language request."
  icon: "🧩"
  icon_background: "#E4FBCC"
  mode: workflow
  name: "Sales Lead Discovery: Lead Qualification Voice"
  use_icon_as_answer_icon: false
dependencies:
  - type: marketplace
    current_identifier: null
    value:
      marketplace_plugin_unique_identifier: langgenius/openai:0.3.8@592c8252795b5f75807de2d609a03196ed02596b409f7642b4a07548c7ff57ef
kind: app
version: "0.6.0"
workflow:
  conversation_variables: []
  environment_variables: []
  features: {}
  graph:
    nodes:
      - id: start_1
        data:
          desc: ""
          selected: false
          type: start
          title: Start
          variables:
            - variable: "prospect_records"
              label: "Prospect records"
              max_length: null
              options: []
              type: paragraph
              required: true
            - variable: "qualification_criteria"
              label: "Qualification criteria"
              max_length: null
              options: []
              type: paragraph
              required: true
        height: 90
        position: {x: 30, y: 220}
        positionAbsolute: {x: 30, y: 220}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - id: llm_1
        data:
          context:
            enabled: false
            variable_selector: []
          desc: ""
          type: llm
          title: Generate result
          model:
            provider: langgenius/openai/openai
            name: gpt-4o-mini
            mode: chat
            completion_params:
              max_tokens: 2048
          prompt_template:
            - id: generated-system
              role: system
              text: "You are the specialist for this workflow. Goal: Use-case contract: lead-generation. Evaluate only supplied prospect records against explicit qualification criteria. Do not guess contact details or enrich personal data from outside sources. Output requirement: Return a JSON array with record_id, qualification, matched_criteria, evidence, and missing_information. Specific use case: Help sales teams identify and structure supported prospect signals for supplied material centered on lead, qualification, voice, calls; preserve evidence and mark missing information.\nFollow the goal precisely, state material uncertainty, and return a focused result."
            - id: generated-user
              role: user
              text: "Prospect records:\n{{#start_1.prospect_records#}}\n\nQualification criteria:\n{{#start_1.qualification_criteria#}}"
          selected: false
          vision:
            enabled: false
            configs:
              variable_selector: []
        height: 120
        position: {x: 334, y: 220}
        positionAbsolute: {x: 334, y: 220}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - id: end_1
        data:
          desc: ""
          type: end
          title: End
          outputs:
            - variable: "qualified_leads"
              value_selector: [llm_1, text]
              value_type: string
          selected: false
        height: 90
        position: {x: 638, y: 220}
        positionAbsolute: {x: 638, y: 220}
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    edges:
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: start
          targetType: llm
        id: start_1-source-llm_1-target
        source: start_1
        target: llm_1
        sourceHandle: source
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInIteration: false
          isInLoop: false
          sourceType: llm
          targetType: end
        id: llm_1-source-end_1-target
        source: llm_1
        target: end_1
        sourceHandle: source
        targetHandle: target
        type: custom
        zIndex: 0
    viewport:
      x: 0
      y: 0
      zoom: 0.7
